name: Trigger auto deployment for api-scrumpoker

on:
  push:
    branches:
      - main
    paths:
      - "apps/api/**"
      - "packages/shared/**"
      - ".github/workflows/api-scrumpoker-AutoDeployTrigger-c409fe03-15be-4afc-9f7f-77a8ebb48149.yml"

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APISCRUMPOKER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APISCRUMPOKER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APISCRUMPOKER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./apps/api/Dockerfile
          registryUrl: acrscrumpoker.azurecr.io
          registryUsername: ${{ secrets.APISCRUMPOKER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.APISCRUMPOKER_REGISTRY_PASSWORD }}
          containerAppName: api-scrumpoker
          resourceGroup: rg-scrumpoker
          imageToBuild: acrscrumpoker.azurecr.io/api-scrumpoker:${{ github.sha }}
