name: Trigger auto deployment for web-scrumpoker

on:
  push:
    branches:
      - main
    paths:
      - "apps/web/**"
      - "packages/shared/**"
      - ".github/workflows/web-scrumpoker-AutoDeployTrigger-56cd6e75-af1e-4e05-b9be-d49264440835.yml"

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEBSCRUMPOKER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEBSCRUMPOKER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEBSCRUMPOKER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./apps/web/Dockerfile
          registryUrl: acrscrumpoker.azurecr.io
          registryUsername: ${{ secrets.WEBSCRUMPOKER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEBSCRUMPOKER_REGISTRY_PASSWORD }}
          containerAppName: web-scrumpoker
          resourceGroup: rg-scrumpoker
          imageToBuild: acrscrumpoker.azurecr.io/web-scrumpoker:${{ github.sha }}
